#lottie{
    height:100%;
    display:block;
    overflow: hidden;
    transform: translate3d(0,0,0);
    text-align: center;
    opacity: 1;
    width: 99vh;
    margin: auto;
    background-color: var(--dark-green);
}

body {
    overflow : hidden;
    scroll-margin-top : 0;
    background-color: var(--dark-green);
}

.animation {
    width: 100%;
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.entry {
    height: 100vh;
    width: 50%;
    margin : auto;
    display: flex;
    flex-direction: column;
}

.entry-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.entry-img {
    width: 50%;
    z-index: 4;
    text-align: center;
}

.entry-img img {
    width: 156px;
}

.entry i {
    margin-right: 10%;
    font-style: initial;
}

.background-green {
    width: 88%;
    height: 10%;
    left: -50%;
    z-index: 1;
    background-color: var(--dark-green);
    position: absolute;
}

.name-artist-animation {
    animation-duration: 2s;
    animation-name: slidein;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

.artist-animation {
    animation-duration: 0.5s;
    animation-name: slide_in_right;
    animation-fill-mode: forwards;
}

.artist {
    color : var(--dark-green);
}

@keyframes slide_in_right {
    from {
        width: 10%;
    }
    to {
        width: 100%;
    }
}

@keyframes slidein {
    from {
        margin-left: -130%;
        color : var(--white);
    }

    to {
        margin-left: 0;
        color : var(--white);
    }
}

.puzzle {
    position: absolute;
    width: 100%;
}

.puzzle-piece {
    position: relative;
    z-index : 4;
    width: 6em;
    height: 6em;
    margin: 50px;
    border-radius: .5em;
    background-image: url("../img/puzzle_entier_grand.png");
}

.puzzle-piece .t {
    width: 30%;
    height: 30%;
    position: absolute;
    top: -12%;
    left: 35%;
    border-radius: 60%;
    z-index : 3;
    background-color: var(--dark-green);
}

.puzzle-piece .r {
    width: 30%;
    height: 30%;
    position: absolute;
    top: 35%;
    left: 80%;
    border-radius: 60%;
    z-index : 3;
    background-color: var(--dark-green);
}

.puzzle-piece .b {
    width: 30%;
    height: 30%;
    position: absolute;
    top: 85%;
    left: 35%;
    -webkit-border-radius: 4em;
    -moz-border-radius: 4em;
    border-radius: 60%;
    background-color: var(--dark-green);
}

.puzzle-piece .l {
    width: 30%;
    height: 30%;
    position: absolute;
    top: 35%;
    left: -10%;
    border-radius: 60%;
    background-color: var(--dark-green);
}

.btn-discover {
    margin-top: -20% ;
    margin-right: auto;
    margin-left : auto;
    padding: 16px 24px 18px;
    border : 1px solid var(--white);
    background-color: var(--dark-green);
    color : var(--white);
}

.btn-discover:hover {
    background-color: var(--white);
    color : var(--dark-green);
}

.puzzle-animation {
    animation-name: fullscreen;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes fullscreen {
   from {
       width: 100%;
   }
    to {
        left : 0;
        top : 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("../img/puzzle_entier_grand.png");
        margin-right: auto;
        margin-left: auto;
    }
}

.agrandissement-t {
    animation-name: agrandissement-t;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.agrandissement-r {
    animation-name: agrandissement-r;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.agrandissement-b {
    animation-name: agrandissement-b;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.agrandissement-l {
    animation-name: agrandissement-l;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes agrandissement-t {
    from {
        width: 100%;
    }
    to {
        top : -30%;
    }
}

@keyframes agrandissement-r {
    from {
        width: 100%;
    }
    to {
        left : 100%;
    }
}

@keyframes agrandissement-b {
    from {
        width: 100%;
    }
    to {
        top : 100%;
    }
}

@keyframes agrandissement-l {
    from {
        width: 100%;
    }
    to {
        left : -30%;
    }
}

.row-down {
    transform: rotate(90deg);
    width: 100px;
    position: absolute;
    top: 90%;
    left: 50%;
    z-index :6;
    animation-name: arrow-move;
    animation-duration: 0.4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes arrow-move {
    from {
        top : 90%;
    }
    to {
        top : 93%
    }
}

.logo {
    position: absolute;
    margin: auto;
    left: 47%;
    top: 2%;
}

.background-fade-in {
    animation-duration: 0.25s;
    animation-name: background-fade-in;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes background-fade-in {
    from {
        width: 100%;
    }
    to {
        background-color: var(--white);
    }
}

.content {
    z-index: 9;
    position: relative;
    margin-top: -70%;
    padding-top: 70%;
    width: 100%;
    background: linear-gradient(180deg, rgba(246, 244, 237, 0) 2.25%, #F6F4ED 43.58%);
}

.content-intro {
    height: 100vh;
}

.content-title {
    text-align: center;
    margin-bottom: 5%;
}

.content-column {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.content-left {
    width: 47%;
    padding : 0 5%;
}

.content-right {
    width: 38%;
    padding : 0 5%;
}

.bonne-raison-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.all-bonnes-raisons {
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    margin: auto;
    justify-content: center;
}

.bonne-raison {
    width: 23%;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
}

.raison-asterisque {
    margin: auto;
}

.content-explication {
    height: 100vh;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.test {
    height: 400vw;
}

.anime-card {
    position: absolute;
    z-index : 99;
    padding : 48px 32px 115px;
    border-radius: 32px;
    width: 17%;
}

.anime-card .text-card, .anime-card .asterisque {
    text-align: left;
}

.anime-card .asterisque {
    margin-bottom: 15%;
}

.anime-card-1 {
    bottom : -60%;
    left : 15%;
    background-color: var(--pink);
}

.anime-card-2 {
    bottom : -75%;
    left : 60%;
    background-color: var(--yellow);
}

.anime-card-3 {
    bottom : -100%;
    left : 20%;
    background-color: var(--purple);
}

.anime-card-3 img {
    margin-top: 2%;
    left : 0;
}

.anime-card-2 img {
    right: 8%;
}

.anime-card-4 {
    bottom : -195%;
    left : 70%;
    background-color: var(--saumon);
}

.all-explication {
    position: relative;
}

.explication-img {
    position: absolute;
    right: -3%;
    bottom: 0;
}

.content-explication-fixed {
    animation-name: content-explication-fixed;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes content-explication-fixed {
    from {
        opacity: 100%;
    }
    to {
        opacity: 50%;
    }
}

.content-explication-relative {
    animation-name: content-explication-relative;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes content-explication-relative {
    from {
        opacity: 50%;
    }
    to {
        opacity: 100%;
    }
}